<div class="xy-round-border">
    <widget parameters='{ "class": "Ayoola_Access_Dashboard" }'>
        <widget-inner parameters='{ "class": "Application_Profile_View", "profile_url": "{{{profile_url}}}" }'>
            <div style="text-align: center;">
                <img style="border-radius: 50%;" src="/widgets/Application_IconViewer/?url={{{document_url_uri}}}&max_width=60&max_height=60" alt="{{{display_name}}}'s photo">
                <p>{{{display_name}}}</p>
                <p><a class="pos-link" href="/widgets/POS_Stock">Stock Balance</a></p>
                <p><a class="pos-link" href="#">Today's sales</a></p>
                <p><a class="pos-link" href="/widgets/Application_Profile_ShowAll">Change Profile</a></p>
                <p><a class="pos-link" href="/accounts/signout">Close Shift</a></p>
                <p><a class="pos-link" target="orders" href="/widgets/Application_Subscription_Checkout_Order_List">Recent Orders</a></p>
                <p><a class="pos-link" target="product" href="/widgets/Application_Article_Publisher">Add Item</a></p>
            </div>
        </widget-inner>
    </widget>

</div>
<button name="submit-button" class="pos-button pc-bg-color" type="submit" value="confirm">Confirm Order</button>
