<form method="post" name="pos">
    <div class="row">
        <div class="col-md-12 ">
            <widget parameters='{ "class": "POS_Checkout" }'></widget>
        </div>
        <div class="col-md-4 ">
            <include href="customer-info.html">
        </div>
        <div class="col-md-5">
            <include href="product-selection.html">
        </div>
        <div class="col-md-3 ">
            <include href="pos-options.html">
        </div>
    </div>
</form>
<script>
    window.onload = function()
    {
        $(".product-xy").select2('open'); 
    }
</script>

